.formContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
}

.myForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 300px;
  margin-bottom: 20px;
}

.formGroup {
  margin-bottom: 10px;
}

label {
  margin-bottom: 5px;
  width: 100px;
  display: inline-block;
}

input {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  padding: 8px 12px;
  background-color: #0E1525;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 10px;
}

.submitted {
  font-size: 20px;
  color: green;
}


